@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .btn-primary {
    @apply bg-accent text-white px-6 py-2 rounded-lg hover:bg-opacity-90 transition-all;
  }

  .card {
    @apply bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-xl transition-shadow;
  }
}
